body, html
{
	background: black url('bg_tile.png') repeat;
	color: #2D3841;
	font-family: 'Lucida Grande',Calibri,Verdana,sans-serif;
	font-weight: 100;
	margin: 0;
}

table
{
	width: 100%;
	color: #BDC8D1;
}

table th,
table td
{
	padding: 8px;
}

table tr:hover td
{
	background-color: #393939;
}

table tr td img
{
	vertical-align: middle;
}

table th
{
	background-color: #191919;
}

#header
{
	clear: both;
	padding: 0px 0px 10px 20px;
	height: 150px;
}

#wrapper
{
	margin: auto;
	width: 800px;
	color: #BDC8D1;
}

#wrapper a
{
	color: #24BDDF;
	text-decoration: none;
}

#wrapper a:hover
{
	color: white;
	background-color: #191919;
}

#wrapper h1
{
	background-color: #191919;
	color: white;
	letter-spacing: 2px;
	margin: 0px;
	padding: 8px 15px;
	font-family: 'Lucida Grande',Calibri,Verdana,sans-serif;
	font-weight: 100;
}

#wrapper h2
{
	color: white;
	border-bottom: 2px solid #1D93C2;
	letter-spacing: 2px;
	font-family: 'Lucida Grande',Calibri,Verdana,sans-serif;
	font-weight: 100;
	margin: 0px;
	margin-top: 10px;
	padding: 2px 0px;
}

#wrapper h3
{
	color: white;
	letter-spacing: 2px;
	font-family: 'Lucida Grande',Calibri,Verdana,sans-serif;
	font-weight: 100;
	margin: 0px;
	margin-top: 10px;
	padding: 2px 0px;
}


#wrapper table
{
	border-collapse: collapse;
}

#wrapper table th
{
	text-align: left;
}

#wrapper img.floatimg {
	margin: 10px;
	float: right;
}

br {
	clear: both;
}

.page
{
	background-color:#232323;
}

#footer
{
	font-size: 60%;
	text-align: center;
	color: #404040;
}

#footer a
{
	color: #505050;
}

.page-content
{
	padding: 20px;
}

#page-home p
{
	text-indent: 20px;
	text-align: justify;
}

/* Glider */
div#features-glider div.scroller
{
	/* modify width and height of scrolling section if necessary	*/		
	width: 800px; 
	height: 300px;
	overflow: hidden;
}

div#features-glider div.scroller div.section
{
	/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
	width: 800px;
	height: 300px;
	overflow: hidden;
	float: left;
}

div#features-glider div.scroller div.content
{
	width: 10000px;
}

div#features-glider div.controls
{
	position: absolute;
	text-align: right;
	width: 790px;
	margin-top: 10px;
}

div#features-glider div.controls a
{
	display: block;
	float: right;
	background-color: #191919;
	color: white;
	letter-spacing: 2px;
	margin: 0px;
	padding: 4px 8px;
	font-family: 'Lucida Grande',Calibri,Verdana,sans-serif;
	font-weight: 100;
	margin-left: 2px;
	position: relative;
}

div#features-glider div.controls a.active
{
	background-color: #1D93C2;
}

/* menu buttons
 */

#logo {
	width: 300px;
}

#logo a img {
	border: 0px !important;
}

#logo a:hover {
	background: transparent;
}

#menu {
	float: right;
	margin-top: -3em;
}

#menu ul {
	list-style: none outside none;
	margin-bottom: 0;
}

#menu li {
	list-style: none outside none;
	font-size: 110%;
	text-align: right;
	float: left;
	position: relative;
}

#menu li a {
	padding: 10px;
	display: block;
	letter-spacing: 1px;
	font-family: 'Lucida Grande',Calibri,Verdana,sans-serif;
	font-weight: 100;
	padding-left: 38px;
	background-repeat: no-repeat;
	background-position: 8px center;
}

#menu li a:hover
{
	color: white;
}

#menu li a.home { background-image: url('icons/home.png'); }
#menu li a.support { background-image: url('icons/support.png'); }
#menu li a.download { background-image: url('icons/download.png'); }
#menu li a.planet { background-image: url('icons/planet.png'); }


/* release
 */

#release
{
	background-color: #24aDcF;
	color: white;
	width: auto;
	padding: 1em;
	position: absolute;
	margin-left: 410px;
	top: 150px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#release a
{
	color: #24eDfF;
}

/* bench
 */
table.bench td {
	font-size: 90%;
	padding: 5px;
}

table.bench .result
{
	text-align: right;
}

table.bench .best {
	background-color: #114411;
}

table.bench th.version {
	text-align: right !important;
}

.page-content i {
	color: #909090;
}

.page-content strong {
	color: rgb(250, 150, 50);
}


/* Pygments syntax highlight (native theme) */
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #404040 }
body .highlight { border-left: 3px dotted #272B2E; padding-left: 20px }
body .c { color: #999999; font-style: italic } /* Comment */
body .err { color: #a61717; background-color: #e3d2d2 } /* Error */
body .g { color: #d0d0d0 } /* Generic */
body .k { color: #0F93BE; font-weight: bold } /* Keyword */
body .l { color: #d0d0d0 } /* Literal */
body .n { color: #d0d0d0 } /* Name */
body .o { color: #d0d0d0 } /* Operator */
body .x { color: #d0d0d0 } /* Other */
body .p { color: #d0d0d0 } /* Punctuation */
body .cm { color: #999999; font-style: italic } /* Comment.Multiline */
body .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
body .c1 { color: #999999; font-style: italic } /* Comment.Single */
body .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
body .gd { color: #d22323 } /* Generic.Deleted */
body .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
body .gr { color: #d22323 } /* Generic.Error */
body .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
body .gi { color: #589819 } /* Generic.Inserted */
body .go { color: #cccccc } /* Generic.Output */
body .gp { color: #aaaaaa } /* Generic.Prompt */
body .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
body .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
body .gt { color: #d22323 } /* Generic.Traceback */
body .kc { color: #0F93BE; font-weight: bold } /* Keyword.Constant */
body .kd { color: #0F93BE; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #0F93BE; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #0F93BE } /* Keyword.Pseudo */
body .kr { color: #0F93BE; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #0F93BE; font-weight: bold } /* Keyword.Type */
body .ld { color: #d0d0d0 } /* Literal.Date */
body .m { color: #3677a9 } /* Literal.Number */
body .s { color: #ed9d13 } /* Literal.String */
body .na { color: #bbbbbb } /* Name.Attribute */
body .nb { color: #24909d } /* Name.Builtin */
body .nc { color: #88BFFF; } /* Name.Class */
body .no { color: #40ffff } /* Name.Constant */
body .nd { color: #ffa500 } /* Name.Decorator */
body .ni { color: #d0d0d0 } /* Name.Entity */
body .ne { color: #bbbbbb } /* Name.Exception */
body .nf { color: #88BFFF } /* Name.Function */
body .nl { color: #d0d0d0 } /* Name.Label */
body .nx { color: #d0d0d0 } /* Name.Other */
body .py { color: #d0d0d0 } /* Name.Property */
body .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
body .nv { color: #40ffff } /* Name.Variable */
body .ow { color: #0F93BE; font-weight: bold } /* Operator.Word */
body .w { color: #666666 } /* Text.Whitespace */
body .mf { color: #3677a9 } /* Literal.Number.Float */
body .mh { color: #3677a9 } /* Literal.Number.Hex */
body .mi { color: #3677a9 } /* Literal.Number.Integer */
body .mo { color: #3677a9 } /* Literal.Number.Oct */
body .sb { color: #ed9d13 } /* Literal.String.Backtick */
body .sc { color: #ed9d13 } /* Literal.String.Char */
body .sd { color: #808080 } /* Literal.String.Doc */
body .s2 { color: #ed9d13 } /* Literal.String.Double */
body .se { color: #ed9d13 } /* Literal.String.Escape */
body .sh { color: #ed9d13 } /* Literal.String.Heredoc */
body .si { color: #ed9d13 } /* Literal.String.Interpol */
body .sx { color: #ffa500 } /* Literal.String.Other */
body .sr { color: #ed9d13 } /* Literal.String.Regex */
body .s1 { color: #ed9d13 } /* Literal.String.Single */
body .ss { color: #ed9d13 } /* Literal.String.Symbol */
body .bp { color: #24909d } /* Name.Builtin.Pseudo */
body .vc { color: #40ffff } /* Name.Variable.Class */
body .vg { color: #40ffff } /* Name.Variable.Global */
body .vi { color: #40ffff } /* Name.Variable.Instance */
body .il { color: #3677a9 } /* Literal.Number.Integer.Long */


/** kivy
 */
#kivy {
	color: #fcfaf0;
	background-color: #2a2522;
	border-bottom: 1px solid #5a5552;
}

#kivy a {
	color: #db6500;
	outline: 0;
}

#kivy .content {
	padding: 50px 50px 50px 280px;
	margin: 0 auto;
	background: transparent url('http://kivy.org/styles/logo_outline.png') 30px center no-repeat;
}
